<div class="page-header">
    <h1>
        {{boost.name}} - {{boost.date | date:'d/MM/yyyy'}}
        <span style="float: right;">{{totalGold}}g</span>
    </h1>
</div>

<div ng-repeat="buyer in boost.buyers">
    <b>{{buyer.characterName}}</b> ({{buyer.battletag}})
    <span style="margin-left: 20px">{{buyer.price}}</span>
    <span style="margin-left: 20px">for {{buyer.what}}</span>
    - by {{buyer.author}}
</div>


<form ng-submit="addBuyer()"
      style="margin-top:30px;">
    <h3>Add a new buyer</h3>

    <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="characterName"
               ng-model="characterName"/>
    </div>
    <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="battletag"
               ng-model="battletag"/>
    </div>
    <div class="form-group">
        <input type="number"
               class="form-control"
               placeholder="price"
               ng-model="price"/>
    </div>
    <div class="form-group">
        <label name="what" for="what">Which boost</label>
        <select class="form-control" required ng-model="what">
            <option>Full</option>
            <option>Last boss</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Add new buyer</button>
</form>