<div class="page-header">
    <h1>
        {{boost.name}} - {{boost.date | date:'d/MM/yyyy'}}
        <gspan style="float: right;" gold="totalGold"/>
    </h1>
</div>

<div ng-hide="showTableHideForm">
    <table class="table">
        <thead>
        <th>Character name</th>
        <th>Battlenet tag</th>
        <th>Run</th>
        <th>Finder</th>
        <th>Price</th>
        </thead>
        <tr ng-repeat="buyer in boost.buyers">
            <td>{{buyer.characterName}}</td>
            <td>{{buyer.battletag}}</td>
            <td>{{buyer.what}}</td>
            <td>{{buyer.finder}}</td>
            <td>
                <gspan gold="buyer.price"></gspan>
            </td>
            <td class="glyphicon glyphicon-edit" ng-click="showBuyer(buyer)" ng-show="isLoggedIn()"></td>
            <td class="glyphicon glyphicon-trash" ng-click="deleteBuyer(buyer)"></td>
        </tr>
    </table>

    <div ng-show="isLoggedIn()">
        <div ng-hide="showTableHideForm">
            <button type="button" class="btn btn-success" ng-click="showTableHideForm = true">Add a new buyer</button>
        </div>
    </div>
</div>


<div ng-hide="isLoggedIn()">
    <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a buyer.</h3>
</div>

<div ng-show="isLoggedIn()">
    <form ng-submit="addBuyer()"
          ng-show="showTableHideForm"
          style="margin-top:30px;">
        <h3 ng-hide="editMode">Add a new buyer</h3>

        <div class="form-group">
            <label>Character name</label>
            <input type="text"
                   class="form-control"
                   ng-model="characterName"
                   required/>
            <label>Battlenet tag</label>
            <input type="text"
                   class="form-control"
                   ng-model="battletag"
                   required/>
            <label>Price</label>
            <input type="number"
                   class="form-control"
                   ng-model="price"
                   required/>
            <label name="what" for="what">Which boost</label>
            <select class="form-control" required ng-model="what"
                    required>
                <option></option>
                <option>Full</option>
                <option>Last boss</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary" ng-hide="editMode">Confirm</button>
        <button class="btn btn-primary" type="button" ng-show="editMode" ng-click=editBuyer()>Edit</button>
        <button type="button" class="btn btn-danger" ng-click="cancelForm()">Cancel</button>
    </form>
</div>