<div class="page-header">
    <h1>Boosting Application</h1>
</div>

<div ng-hide="showTableHideForm">
    <table class="table">
        <thead>
        <th>Boost</th>
        <th>Date</th>
        </thead>
        <tr ng-repeat="boost in boosts">
            <td>{{boost.name}}</td>
            <td>{{boost.date | date:'dd/MM/yyyy'}}</td>
            <td>
                <a style="float:right" class="glyphicon glyphicon-th-list" href="#/boosts/{{boost._id}}"></a>
            </td>
            <td class="glyphicon glyphicon-edit" ng-click="showBoost(boost)"></td>
            <td class="glyphicon glyphicon-trash" ng-click="deleteBoost(boost)"></td>
        </tr>
    </table>
    <div ng-show="isLoggedIn()">
        <div ng-hide="showTableHideForm" >
            <button type="button" class="btn btn-success" ng-click="showTableHideForm = true">Add a new boost</button>
        </div>
    </div>

</div>

<div ng-hide="isLoggedIn()">
    <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a boostrun.</h3>
</div>

<div ng-show="isLoggedIn()">
    <form ng-submit="addBoost()"
          ng-show="showTableHideForm"
          style="margin-top:30px;">
        <h3 ng-hide="editMode">Add a new boost</h3>

        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Title"
                   ng-model="name"
                   required/>
        </div>
        <div class="form-group">
            <input type="date"
                   class="form-control"
                   ng-model="date"
                   required/>
        </div>
        <button type="submit" class="btn btn-primary" ng-hide="editMode">Confirm</button>
        <button class="btn btn-primary" type="button" ng-show="editMode" ng-click=editBoost()>Edit</button>
        <button type="button" class="btn btn-danger" ng-click="cancelForm()">Cancel</button>
    </form>
</div>
